@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #fff;
}

header {
    background: #312f3c;
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding: 0;
    flex-wrap: wrap;
    overflow: visible;
}

header .logo{
    max-height: 60px;
    margin-left: 30px;
}

header .header__account{
    height: 40px;
}

header .header__account a{
    display: inline-block;
    text-align: center;
    width: 120px;
    margin: 0 10px;
    padding: 5px 0;
    border-radius: 20px;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
}

header .header__account .login{
    color: #45ecd3;
    border: 2px solid #45ecd3;
}

header .header__account .register{
    color: #312f3c;
    border: 2px solid #45ecd3;
    background: #45ecd3;
    margin-right: 30px;
}

.top_menu {
    -webkit-box-shadow: 0px 8px 8px -5px rgba(0, 0, 0, 0.8); 
    box-shadow: 0px 8px 8px -5px rgba(0, 0, 0, 0.8); 
    flex-basis: 100%;
    background: #fff;
    padding: 0 30px;
    border-bottom: 1px solid #ccc ;

}

.top_menu li{
    display: inline-block;
    padding: 10px 20px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    transition: background 0.35s;
    cursor: pointer;
}

.top_menu li.active{
    background: #45ecd3;
}

.top_menu li:hover{
    background: #45ecd3;
}

.top_menu li a{
    text-decoration: none;
    color: #312f3c;
}


main {
    min-height: calc(100vh - 200px);
    background: #f0f0f0;
    display: flex;
    padding: 10px 0 0 0;
}



main .sx_column {
    width: 340px;
    padding: 20px;
}

main .dx_column {
    width: 550px;
    padding: 20px;
}



.menu {
    width: 100%;
    margin-top: 20px;
    list-style: none;
    background: #312f3c;
    border: 1px solid #292734;
    min-height: 200px;
}

.menu li{
    padding: 0px;
    display: block;
    border-bottom: 1px solid #292734;
    border-top: 1px solid #2f2a38;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    min-height: 50px;
    line-height: 50px;
    text-indent: 20px;
}

.menu li .sub_menu {
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s cubic-bezier(1, -0.01, 0, 1.03) 0s;
}

.menu li .sub_menu.open{
    max-height: 500px;
    overflow: hidden;
}

.menu li .sub_menu a{
    display: block;
    height: 50px;
    font-size: 14px;
    line-height: 50px;
    background-color: #1b1a1e;
    text-indent: 30px;
    border-top: 1px solid #0b0b0c;
}




.cart {
    background: #343434;
    min-height: 300px;
    color: #fff;
}



main .container {
    width: 100%;
    padding: 20px 0;
}

main .container .center_adv{
    text-align: center;
}

main .container .center_adv img{
    max-width: 48%;
}

main .container .center_adv img:first-child{
    margin-right: 10px;
}

main .container .daily_header{
    margin-top: 20px;
    display: flex;
    align-items: end;
    color: #312f3c;
    font-weight: bold;
}

.daily_header__sport_icon{
    width: 40px;
    height: 40px;
    border: 4px solid #312f3c;
    border-radius: 50%;
}

.daily_header__sport_country{
    margin-left: 5px;
    margin-right: 15px;
}

.sport_country__country{
    font-size: 12px;
    text-transform: uppercase;
}

.sport_country__name{
    line-height: 25px;
    font-size: 30px;
    text-transform: uppercase;
}

.daily_header__separator{
    border-bottom: 2px solid #312f3c;
    flex-grow: 1;
}

.match_first_line{
    display: flex;
    justify-content: center;
    align-items: end;
    height: 30px;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
}

.match{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #cccbd1;
    margin: 2px 0;
}

.match:nth-child(even){
    background: #dcdbdf;
}

.date{
    color: #312f3c;
    text-align: center;
    font-weight: bold;
    width: 60px;
    font-size: 14px;
    font-weight: bold;
    
}

.teams {
    flex-grow: 1;
    line-height: 48px;
    border-left: 2px solid #f0f0f0;
    padding: 0 20px;
    color: #312f3c;
    font-weight: bold;
}

.quote {
    display: flex;
    align-items: center;
}

.quote .odds-first{
    width: 80px;
    text-align: center;
    margin: 0px 5px;
    padding: 0px 0;
    color: #312f3c;
    font-weight: bold;
    line-height: 10px;
}

.quote .odds{
    width: 80px;
    background: #312f3c;
    text-align: center;
    margin: 5px;
    padding: 10px 0;
    color: #f0f0f0;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.35s;
}

.quote .odds:hover{
    background: #45ecd3;
    color: #312f3c;
}

.quote .odds.active{
    background: #45ecd3;
    color: #312f3c;
}



footer {
    height: 100px;
    background: #312f3c;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-size: 12px;
    color: #f0f0f0;
}